<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
<!-- 
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>JavaScript</title>
    <style>
      body {
        font-family: Consolas, monospace;
        font-size: 16px;
        line-height: 1.6;
      }
    </style>
  </head>
  <body>
    <script>
      var a = 123.123;
      var b = '123.123';
      var c = 'Not a Number';
      var d = 123 * 123;
      var e = '123 * 123';
      document.write( '<p>123.123 : ' + isNaN( a ) + '</p>' );
      document.write( '<p>\'123.123\' : ' + isNaN( b ) + '</p>' );
      document.write( '<p>\'Not a Number\' : ' + isNaN( c ) + '</p>' );
      document.write( '<p>123*123 : ' + isNaN( d ) + '</p>' );
      document.write( '<p>\'123*123\' : ' + isNaN( e ) + '</p>' );
    </script>
  </body>
</html> -->